/* 
  FLV Tagger
  Created by Philip Guo on 2007-12-10
*/

table.tags td {
	border:thin solid rgb(0,0,0);
	padding: 1px;
}

body {
  color:#000; 
  font: 10pt verdana, arial, sans-serif; 
}

td {
  font: 10pt verdana, arial, sans-serif; 
}

h1 {
  font: 20pt georgia, serif;
}

h2 {
  font-size: 14px; 
  margin:0;
}

h3 {
  font: 14pt georgia, serif;
  margin-bottom: 15px;
}

a { 
  color: #C00;
}

a:hover { 
  color: #000;
}

ul,ol { 
  margin:5px 0 40px 30px; 
  list-style-type:square; 
}


.partbutton {
  width: 200px;
  height: 40px;
}

.activitybutton {
  width: 200px;
  height: 40px;
}

.eventbutton {
  font-size: 8pt;
  width: 260px;
  height: 30px;
}

.buttonborder {
  margin-bottom: 0px;
  width: 200px;
  border: 2px solid white;
}

#tagtable {
  height: 600px;
  overflow: auto;
}
