.partbutton {
  width: 200px;
  height: 40px;
}

.activitybutton {
  width: 200px;
  height: 40px;
}

.eventbutton {
  width: 200px;
  height: 40px;
}

.buttonborder {
  margin-bottom: 3px;
  width: 200px;
  border: 2px solid white;
}

